body {
  background-color: purple;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: auto;
  flex-direction: column;
  flex-wrap: wrap;

}

.container {
  font-size: 15px;
}
